.hero-title {
    color: white;
    text-align: center;
    font-size: 100px;
}
.App {
color: white;
text-align: center;
background-image: url(pictures/city.jpg);
background-size: cover;
}
.album {
    color:white;
}
body {
    background-color: black;
}
    
.album-link {
    color: white;
    
}
/*cards on landing page */

.card-body {
    color: white;
    position: relative;
    border-style: solid; 
    background-color:rgba(128, 128, 128, 0.185);
}
.card {
    background-color: black;
}
.landing {
    background-image: url(pictures/city.jpg);
    background-size: cover;
    height: 600px;
}
.card-group {
    position: relative; 
    top: 450px;
}
